html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main {
    width: 100%;
    max-width: 1694;
    background: #fff;
}

.wrapper-title {
    position: relative;
    z-index: 1;

    ::before {
        content: "";
        position: absolute;
        width: 640px;
        height: 22px;
        background: #4385F4;
        margin: auto;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        @media screen and (max-width: 678px) {
            width: 330px;
            height: 15px;
            top: 50px;
        }

        @media screen and (max-width: 678px) {
            width: 300px;
            height: 15px;
        }
    }
}

.title {
    margin: 0;
    text-align: center;
    color: #313131;
    font-size: calc(35px + 25 * (100vw / 1694));
    font-weight: 700;
    line-height: 108px;

    @media screen and (max-width: 678px) {
        font-size: calc(35px + (25 + 25 * 0.7) * ((100vw - 320px) / 1694));
    }
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 35px 0 65px 0;
    gap: 42px;
}

.main-content {
    max-width: 480px;
    height: 730px;
    background: #FFEB01;
    text-align: center;

    &__text {
        padding: 0 5%;
        margin-top: 20%;
        color: #000000;
        font-weight: 400;
        line-height: 72px;
        font-size: calc(35px + 5 * (100vw / 1694));

        @media screen and (max-width: 768px) {
            font-size: calc(25px + (15 + 15 * 0.7) * ((100vw - 320px) / 1694));
        }
    }

    &__link {
        display: block;
        color: #4385F4;
        font-size: 40px;
        font-weight: 600;
        line-height: 72px;
        text-decoration: none;

        @media screen and (max-width: 768px) {
            font-size: calc(25px + (15 + 15 * 0.7) * ((100vw - 320px) / 1694));
        }
    }
}

.block-link {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 8vh;

    @media screen and (max-width: 1494px) {
        height: 16vh;
    }
    @media screen and (max-width: 768px) {
        height: 24vh;
    }
}